[submodule "web/components"]
	path = web/components
	url = https://github.com/lbryio/components
[submodule "web/typefaces"]
	path = web/typefaces
	url = https://github.com/lbryio/typefaces
[submodule "web/scss/color"]
	path = web/scss/color
	url = https://github.com/lbryio/color
