// A

.icon-adjust::before {
  content: "\f042";
}

.icon-adn::before {
  content: "\f170";
}

.icon-align-center::before {
  content: "\f037";
}

.icon-align-justify::before {
  content: "\f039";
}

.icon-align-left::before {
  content: "\f036";
}

.icon-align-right::before {
  content: "\f038";
}

.icon-ambulance::before {
  content: "\f0f9";
}

.icon-anchor::before {
  content: "\f13d";
}

.icon-android::before {
  content: "\f17b";
}

.icon-angellist::before {
  content: "\f209";
}

.icon-angle-double-down::before {
  content: "\f103";
}

.icon-angle-double-left::before {
  content: "\f100";
}

.icon-angle-double-right::before {
  content: "\f101";
}

.icon-angle-double-up::before {
  content: "\f102";
}

.icon-angle-down::before {
  content: "\f107";
}

.icon-angle-left::before {
  content: "\f104";
}

.icon-angle-right::before {
  content: "\f105";
}

.icon-angle-up::before {
  content: "\f106";
}

.icon-apple::before {
  content: "\f179";
}

.icon-archive::before {
  content: "\f187";
}

.icon-area-chart::before {
  content: "\f1fe";
}

.icon-arrow-circle-down::before {
  content: "\f0ab";
}

.icon-arrow-circle-left::before {
  content: "\f0a8";
}

.icon-arrow-circle-o-down::before {
  content: "\f01a";
}

.icon-arrow-circle-o-left::before {
  content: "\f190";
}

.icon-arrow-circle-o-right::before {
  content: "\f18e";
}

.icon-arrow-circle-o-up::before {
  content: "\f01b";
}

.icon-arrow-circle-right::before {
  content: "\f0a9";
}

.icon-arrow-circle-up::before {
  content: "\f0aa";
}

.icon-arrow-down::before {
  content: "\f063";
}

.icon-arrow-left::before {
  content: "\f060";
}

.icon-arrow-right::before {
  content: "\f061";
}

.icon-arrow-up::before {
  content: "\f062";
}

.icon-arrows::before {
  content: "\f047";
}

.icon-arrows-alt::before {
  content: "\f0b2";
}

.icon-arrows-h::before {
  content: "\f07e";
}

.icon-arrows-v::before {
  content: "\f07d";
}

.icon-asterisk::before {
  content: "\f069";
}

.icon-at::before {
  content: "\f1fa";
}
