// D

.icon-dashcube::before {
  content: "\f210";
}

.icon-database::before {
  content: "\f1c0";
}

.icon-delicious::before {
  content: "\f1a5";
}

.icon-desktop::before {
  content: "\f108";
}

.icon-deviantart::before {
  content: "\f1bd";
}

.icon-diamond::before {
  content: "\f219";
}

.icon-digg::before {
  content: "\f1a6";
}

.icon-download::before {
  content: "\f019";
}

.icon-dribbble::before {
  content: "\f17d";
}

.icon-dropbox::before {
  content: "\f16b";
}

.icon-drupal::before {
  content: "\f1a9";
}
