// F

.icon-facebook-official::before {
  content: "\f230";
}

.icon-facebook-square::before {
  content: "\f082";
}

.icon-fast-backward::before {
  content: "\f049";
}

.icon-fast-forward::before {
  content: "\f050";
}

.icon-fax::before {
  content: "\f1ac";
}

.icon-female::before {
  content: "\f182";
}

.icon-fighter-jet::before {
  content: "\f0fb";
}

.icon-file::before {
  content: "\f15b";
}

.icon-file-code-o::before {
  content: "\f1c9";
}

.icon-file-excel-o::before {
  content: "\f1c3";
}

.icon-file-o::before {
  content: "\f016";
}

.icon-file-pdf-o::before {
  content: "\f1c1";
}

.icon-file-powerpoint-o::before {
  content: "\f1c4";
}

.icon-file-text::before {
  content: "\f15c";
}

.icon-file-text-o::before {
  content: "\f0f6";
}

.icon-file-word-o::before {
  content: "\f1c2";
}

.icon-film::before {
  content: "\f008";
}

.icon-filter::before {
  content: "\f0b0";
}

.icon-fire::before {
  content: "\f06d";
}

.icon-fire-extinguisher::before {
  content: "\f134";
}

.icon-flag::before {
  content: "\f024";
}

.icon-flag-checkered::before {
  content: "\f11e";
}

.icon-flag-o::before {
  content: "\f11d";
}

.icon-flask::before {
  content: "\f0c3";
}

.icon-flickr::before {
  content: "\f16e";
}

.icon-folder::before {
  content: "\f07b";
}

.icon-folder-o::before {
  content: "\f114";
}

.icon-folder-open::before {
  content: "\f07c";
}

.icon-folder-open-o::before {
  content: "\f115";
}

.icon-font::before {
  content: "\f031";
}

.icon-forumbee::before {
  content: "\f211";
}

.icon-forward::before {
  content: "\f04e";
}

.icon-foursquare::before {
  content: "\f180";
}

.icon-frown-o::before {
  content: "\f119";
}
