// G

.icon-gamepad::before {
  content: "\f11b";
}

.icon-gbp::before {
  content: "\f154";
}

.icon-gift::before {
  content: "\f06b";
}

.icon-git::before {
  content: "\f1d3";
}
.icon-git-square::before {
  content: "\f1d2";
}

.icon-github::before {
  content: "\f09b";
}

.icon-github-alt::before {
  content: "\f113";
}

.icon-github-square::before {
  content: "\f092";
}

.icon-glass::before {
  content: "\f000";
}

.icon-globe::before {
  content: "\f0ac";
}

.icon-google::before {
  content: "\f1a0";
}

.icon-google-plus::before {
  content: "\f0d5";
}

.icon-google-plus-square::before {
  content: "\f0d4";
}

.icon-google-wallet::before {
  content: "\f1ee";
}
