// H

.icon-h-square::before {
  content: "\f0fd";
}

.icon-hacker-news::before {
  content: "\f1d4";
}

.icon-hand-o-down::before {
  content: "\f0a7";
}

.icon-hand-o-left::before {
  content: "\f0a5";
}

.icon-hand-o-right::before {
  content: "\f0a4";
}

.icon-hand-o-up::before {
  content: "\f0a6";
}

.icon-hdd-o::before {
  content: "\f0a0";
}

.icon-header::before {
  content: "\f1dc";
}

.icon-headphones::before {
  content: "\f025";
}

.icon-heart::before {
  content: "\f004";
}

.icon-heart-o::before {
  content: "\f08a";
}

.icon-heartbeat::before {
  content: "\f21e";
}

.icon-history::before {
  content: "\f1da";
}

.icon-home::before {
  content: "\f015";
}

.icon-hospital-o::before {
  content: "\f0f8";
}

.icon-html5::before {
  content: "\f13b";
}
