// I

.icon-dot-circle-o::before {
  content: "\f192";
}

.icon-inbox::before {
  content: "\f01c";
}

.icon-indent::before {
  content: "\f03c";
}

.icon-info::before {
  content: "\f129";
}

.icon-info-circle::before {
  content: "\f05a";
}

.icon-instagram::before {
  content: "\f16d";
}

.icon-ioxhost::before {
  content: "\f208";
}

.icon-italic::before {
  content: "\f033";
}
