// L

.icon-language::before {
  content: "\f1ab";
}

.icon-laptop::before {
  content: "\f109";
}

.icon-lastfm::before {
  content: "\f202";
}

.icon-lastfm-square::before {
  content: "\f203";
}

.icon-leanpub::before {
  content: "\f212";
}

.icon-leaf::before {
  content: "\f06c";
}

.icon-lemon-o::before {
  content: "\f094";
}

.icon-level-down::before {
  content: "\f149";
}

.icon-level-up::before {
  content: "\f148";
}

.icon-lightbulb-o::before {
  content: "\f0eb";
}

.icon-line-chart::before {
  content: "\f201";
}

.icon-linkedin::before {
  content: "\f0e1";
}

.icon-linkedin-square::before {
  content: "\f08c";
}

.icon-linux::before {
  content: "\f17c";
}

.icon-list::before {
  content: "\f03a";
}

.icon-list-alt::before {
  content: "\f022";
}

.icon-list-ol::before {
  content: "\f0cb";
}

.icon-list-ul::before {
  content: "\f0ca";
}

.icon-location-arrow::before {
  content: "\f124";
}

.icon-lock::before {
  content: "\f023";
}

.icon-long-arrow-down::before {
  content: "\f175";
}

.icon-long-arrow-left::before {
  content: "\f177";
}

.icon-long-arrow-right::before {
  content: "\f178";
}

.icon-long-arrow-up::before {
  content: "\f176";
}
