// M

.icon-magic::before {
  content: "\f0d0";
}

.icon-magnet::before {
  content: "\f076";
}

.icon-male::before {
  content: "\f183";
}

.icon-map-marker::before {
  content: "\f041";
}

.icon-mars::before {
  content: "\f222";
}

.icon-mars-double::before {
  content: "\f227";
}

.icon-mars-stroke::before {
  content: "\f229";
}

.icon-mars-stroke-h::before {
  content: "\f22b";
}

.icon-mars-stroke-v::before {
  content: "\f22a";
}

.icon-maxcdn::before {
  content: "\f136";
}

.icon-meanpath::before {
  content: "\f20c";
}

.icon-medium::before {
  content: "\f23a";
}

.icon-medkit::before {
  content: "\f0fa";
}

.icon-meh-o::before {
  content: "\f11a";
}

.icon-mercury::before {
  content: "\f223";
}

.icon-microphone::before {
  content: "\f130";
}

.icon-microphone-slash::before {
  content: "\f131";
}

.icon-minus::before {
  content: "\f068";
}

.icon-minus-circle::before {
  content: "\f056";
}

.icon-minus-square::before {
  content: "\f146";
}

.icon-minus-square-o::before {
  content: "\f147";
}

.icon-money::before {
  content: "\f0d6";
}

.icon-moon-o::before {
  content: "\f186";
}

.icon-motorcycle::before {
  content: "\f21c";
}

.icon-music::before {
  content: "\f001";
}
