// P

.icon-pagelines::before {
  content: "\f18c";
}

.icon-paint-brush::before {
  content: "\f1fc";
}

.icon-paperclip::before {
  content: "\f0c6";
}

.icon-paragraph::before {
  content: "\f1dd";
}

.icon-pause::before {
  content: "\f04c";
}

.icon-paypal::before {
  content: "\f1ed";
}

.icon-pencil::before {
  content: "\f040";
}

.icon-pencil-square::before {
  content: "\f14b";
}

.icon-phone::before {
  content: "\f095";
}

.icon-phone-square::before {
  content: "\f098";
}

.icon-pie-chart::before {
  content: "\f200";
}

.icon-pied-piper::before {
  content: "\f1a7";
}

.icon-pied-piper-alt::before {
  content: "\f1a8";
}

.icon-pinterest::before {
  content: "\f0d2";
}

.icon-pinterest-p::before {
  content: "\f231";
}

.icon-pinterest-square::before {
  content: "\f0d3";
}

.icon-plane::before {
  content: "\f072";
}

.icon-play::before {
  content: "\f04b";
}

.icon-play-circle::before {
  content: "\f144";
}

.icon-play-circle-o::before {
  content: "\f01d";
}

.icon-plug::before {
  content: "\f1e6";
}

.icon-plus::before {
  content: "\f067";
}

.icon-plus-circle::before {
  content: "\f055";
}

.icon-plus-square::before {
  content: "\f0fe";
}

.icon-plus-square-o::before {
  content: "\f196";
}

.icon-paw::before {
  content: "\f1b0";
}

.icon-power-off::before {
  content: "\f011";
}

.icon-print::before {
  content: "\f02f";
}

.icon-puzzle-piece::before {
  content: "\f12e";
}
