// R

.icon-random::before {
  content: "\f074";
}

.icon-recycle::before {
  content: "\f1b8";
}

.icon-reddit::before {
  content: "\f1a1";
}

.icon-reddit-square::before {
  content: "\f1a2";
}

.icon-refresh::before {
  content: "\f021";
}

.icon-renren::before {
  content: "\f18b";
}

.icon-retweet::before {
  content: "\f079";
}

.icon-road::before {
  content: "\f018";
}

.icon-rocket::before {
  content: "\f135";
}

.icon-rss::before {
  content: "\f09e";
}

.icon-rss-square::before {
  content: "\f143";
}
