// T

.icon-table::before {
  content: "\f0ce";
}

.icon-tablet::before {
  content: "\f10a";
}

.icon-tag::before {
  content: "\f02b";
}

.icon-tags::before {
  content: "\f02c";
}

.icon-tasks::before {
  content: "\f0ae";
}

.icon-terminal::before {
  content: "\f120";
}

.icon-text-height::before {
  content: "\f034";
}

.icon-text-width::before {
  content: "\f035";
}

.icon-th::before {
  content: "\f00a";
}

.icon-th-large::before {
  content: "\f009";
}

.icon-th-list::before {
  content: "\f00b";
}

.icon-thumb-tack::before {
  content: "\f08d";
}

.icon-thumbs-o-down::before {
  content: "\f088";
}

.icon-thumbs-o-up::before {
  content: "\f087";
}

.icon-tencent-weibo::before {
  content: "\f1d5";
}

.icon-thumbs-down::before {
  content: "\f165";
}

.icon-thumbs-up::before {
  content: "\f164";
}

.icon-ticket::before {
  content: "\f145";
}

.icon-times-circle::before {
  content: "\f057";
}

.icon-times-circle-o::before {
  content: "\f05c";
}

.icon-tint::before {
  content: "\f043";
}

.icon-toggle-off::before {
  content: "\f204";
}

.icon-toggle-on::before {
  content: "\f205";
}

.icon-train::before {
  content: "\f238";
}

.icon-transgender::before {
  content: "\f224";
}

.icon-transgender-alt::before {
  content: "\f225";
}

.icon-trash::before {
  content: "\f1f8";
}

.icon-trash-o::before {
  content: "\f014";
}

.icon-tree::before {
  content: "\f1bb";
}

.icon-trello::before {
  content: "\f181";
}

.icon-trophy::before {
  content: "\f091";
}

.icon-truck::before {
  content: "\f0d1";
}

.icon-tty::before {
  content: "\f1e4";
}

.icon-tumblr::before {
  content: "\f173";
}

.icon-tumblr-square::before {
  content: "\f174";
}

.icon-twitch::before {
  content: "\f1e8";
}

.icon-twitter::before {
  content: "\f099";
}

.icon-twitter-square::before {
  content: "\f081";
}
