// U

.icon-umbrella::before {
  content: "\f0e9";
}

.icon-underline::before {
  content: "\f0cd";
}

.icon-unlock::before {
  content: "\f09c";
}

.icon-unlock-alt::before {
  content: "\f13e";
}

.icon-upload::before {
  content: "\f093";
}

.icon-user::before {
  content: "\f007";
}

.icon-user-md::before {
  content: "\f0f0";
}

.icon-user-plus::before {
  content: "\f234";
}

.icon-user-secret::before {
  content: "\f21b";
}

.icon-user-times::before {
  content: "\f235";
}
