// V

.icon-venus::before {
  content: "\f221";
}

.icon-venus-double::before {
  content: "\f226";
}

.icon-venus-mars::before {
  content: "\f228";
}

.icon-viacoin::before {
  content: "\f237";
}

.icon-video-camera::before {
  content: "\f03d";
}

.icon-vimeo-square::before {
  content: "\f194";
}

.icon-vine::before {
  content: "\f1ca";
}

.icon-vk::before {
  content: "\f189";
}
.icon-volume-down::before {
  content: "\f027";
}

.icon-volume-off::before {
  content: "\f026";
}

.icon-volume-up::before {
  content: "\f028";
}
