// W

.icon-weibo::before {
  content: "\f18a";
}

.icon-whatsapp::before {
  content: "\f232";
}

.icon-wheelchair::before {
  content: "\f193";
}

.icon-wifi::before {
  content: "\f1eb";
}

.icon-windows::before {
  content: "\f17a";
}

.icon-wordpress::before {
  content: "\f19a";
}

.icon-wrench::before {
  content: "\f0ad";
}
