.hero {
  background-color: $lbry-teal-5;
  background-size: cover;
  color: $lbry-white;
  height: 500px;
  text-align: center;
  text-shadow: 0 0 0.2rem rgba($lbry-black, 0.7);

  > .inner-wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }

  &.--news {
    background-position: center;
  }
}
